*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    height: auto;
    background-color: #0F172A;
}
img{
    height: 80px;
    width: 80px;
}
h2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#header{
    height: 100px;
    background-color: #2c3547;
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    color: white;
}
#input{
    height: 40px;
    width: 500px;
    background-color: #3d4f74;
    border-radius: 20px;
    outline: none;
    border: none;
    padding: 10px;
    padding-left: 35px;
    color: white;
    font-size: large;
    margin-left: 200px;
}
i{
    position:absolute;
    top: 12px;
    left: 212px;
}
.same{
    border: none;
    background: transparent;
    font-size: medium;
    color: white;
}
.same2{
    height: 300px;
    width: 1000px;
    background-color: #2c3547;
    /* margin-top: 50px; */
    /* margin-bottom: 50px; */
    margin-left: 30px;
    color: white;
    overflow: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#top_rated{
    margin-bottom: 30px;
}
 .s{
    margin-left: 35px;
    margin-top: 50px;
    margin-bottom: 10px;
    
 }




