*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
     width: auto;
    height: auto;
    background-color: #0F172A;
}
#header{
     height: 100px;
    background-color: #2c3547;
    color: white;
    display: flex;

}
#htwo{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
     height: 80px;
    width: 80px;
}
#inside{
   display: flex;
   justify-content:flex-start;
}
#img{
    height: 280px;
    width: 280px;
    /* background-color: aqua; */
    margin-left: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#movie_details{
    width: 900px;
    height: 450px;
    /* background-color:yellow; */
    margin-left: 10px;
    margin-top: 63px;
}